ul#navigation {
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 1px 0;    
    text-align: center;
    font-size: 22px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    background-color: #FFF;
    position: fixed;   /* new */
    bottom: 0;  /* new */
    width: 90%;  /* new */
}

ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#navigation li.last {
    margin-right: 0;
}
/*http://stackoverflow.com/questions/15699459/navigation-bar-at-bottom-centerd-css*/
@media screen and (max-width:680px) {
  /*ul#navigation  li:not(:first-child) {display: none;}*/
  ul#navigation  li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul#navigation.responsive {position: relative;}
  ul#navigation.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul#navigation.responsive li {
    float: none;
    display: inline;
  }
  ul#navigation.responsive li a {
    display: block;
    text-align: left;
  }
}

/*http://www.w3schools.com/howto/howto_js_topnav.asp*/