h1, h2, h3, h4, h5, h6 {
  font-family: 'Expletus Sans'; }

p, div {
  font-family: 'Raleway', sans-serif; }

.well {
  background-color: rgba(255, 255, 255, 0.4); }

body {
  background: url("../assets/geometric_translucent.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5); }

.centerVertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px dashed deeppink; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px; }

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

.btn-success {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 24px; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e; }

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299; }

.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px; }

/***********************
  CUSTON BTN VALUES
************************/
.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

.btn-primary {
  background: #0099cc;
  color: #ffffff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc; }

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none; }

.navbar {
  text-align: center; }

.hide {
  display: none; }

#instruct .well {
  background: lightgreen; }

#Banner {
  background: linear-gradient(#CCFFFF 75%, #3399CC 50%); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.circle {
  width: 170px;
  height: 170px;
  margin-left: 0;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 30px rgba(119, 119, 119, 0.7);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.example1 {
  background: linear-gradient(#CCFFFF 0%, #3399CC 100%); }

.example2 {
  background: linear-gradient(#CCFFFF 50%, #3399CC 40%); }

.example3 {
  background: linear-gradient(#CCFFFF 100%, #3399CC 0%); }

#Goals {
  background-color: blue; }

/*# sourceMappingURL=style.css.map */
